/* h1 {
    color: Blue;
} */

img {
    border: 4px grey solid;
    border-radius: 100%;
    
}

nav {
    background-color: black;
    display: flex;
    gap: 5em;
    padding: 0.5em 0.5em;
    
}

nav a {
    color:  white;
}

.positive {
    background-color: green;
}

.negative {
    background-color: red;
}

 img:hover{
    cursor: pointer;
}